<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
     <div class="content-section">
            <p><a href="{{ url_for('logout') }}">Log out</a></p>
            <p class="article-content" id ="numqueries"> Total number of queries: {{ num }}</p>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" id ="username">Username: {{ post.user.username }}</a>
              <a class="mr-2" href="{{ url_for('query', queryid=post.id) }}" id ="query{{post.id}}"> Query Id: {{ post.id }}</a>
            </div>
            <p class="article-content" id ="querytext">Query Text: {{ post.querytext }}</p>
            <p class="article-content" id ="queryresults">Query Result (Misspelled Words): {{ post.queryresults }}</p>
          </div>
        </article>
    {% endfor %}
         </div>
{% endblock content %}
</body>
</html>