<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
     <div class="content-section">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" id ="username">{{ post.user.username }}</a>
              <a class="mr-2" id ="queryid">{{ post.id }}</a>
            </div>
            <p class="article-content" id ="querytext">{{ post.querytext }}</p>
            <p class="article-content" id ="queryresults">{{ post.queryresults }}</p>
          </div>
        </article>
         </div>
{% endblock content %}
</body>
</html>